<section>
    <div class="title">
    <h2>
        Some of Our Favorites
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
</div>
<div class="food-image-container" >
<ul class="food-images">
    <li>
        <img 
        src="../img/favoretis/gamburger@1x.jpg"
        alt="gamburger"
        width="315px">
    </li>
    <li>
        <img 
        src="../img/favoretis/Pasta@1x.jpg"
        alt="pasta"
        width="315px">
    </li>
    <li>
        <img 
        src="../img/favoretis/pizza@2x.jpg"
        alt="pizza"
        width="315px">
    </li>
    <li>
        <img 
        src="../img/favoretis/chicken@1x.jpg"
        alt="chicken"
        width="315px">
    </li>
    <li>
        <img
        src="../img/favoretis/salat@1x.jpg"
        alt="salat"
        width="315px">
    </li>
    <li>
        <img src="../img/favoretis/borshch@1x.jpg"
        alt="botshch"
        width="315px">
    </li>
</ul>
</div>
</section>
